<!-- src/app/components/crear-celular/crear-celular.component.html -->

<h2>Crear Celular</h2>
<form  (ngSubmit)="onSubmit()">
  <div>
    <label for="marca">Marca:</label>
    <input id="marca" formControlName="marca">
  </div>
  <div>
    <label for="serial">Serial:</label>
    <input id="serial" formControlName="serial">
  </div>
  <div>
    <label for="fechaCompra">Fecha de Compra:</label>
    <input id="fechaCompra" type="date" formControlName="fechaCompra">
  </div>
  <div>
    <label for="añoLanzamiento">Año de Lanzamiento:</label>
    <input id="añoLanzamiento" formControlName="añoLanzamiento">
  </div>
  <div>
    <label for="precio">Precio:</label>
    <input id="precio" formControlName="precio">
  </div>
  <div>
    <label for="sistemaOperativo">Sistema Operativo:</label>
    <input id="sistemaOperativo" formControlName="sistemaOperativo">
  </div>
  <div>
    <label for="gama">Gama:</label>
    <input id="gama" formControlName="gama">
  </div>
  <button type="submit">Crear</button>
</form>
